.notice-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75%;
	margin: 100px auto;
}

.notice-inner {
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.notice-contents {
	width: 100%;
}

.notice-contents .divider {
	border: 0.2px solid rgba(0, 0, 0, 0.1);
}

.notice-contents-title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 60px;
}

.notice-contents-title div {
	font-size: 16px;
}

.notice-id {
	flex: 1;
}

.notice-title {
	flex: 3;
}

.notice-date {
	flex: 1;
}

.notice-contents-list {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 80px;	
	font-size: 16px;
}

.notice-contents-list .notice-date {
	color: #a9a9a9;
}

.notice-contents-list div {
	font-size: 16px;
}

.notice-inner-title {
	font-size: 38px;
	font-weight: 800;
	margin-bottom: 1px;
}

.notice-num {
	margin-top: 30px;
	margin-bottom: 1px;
	font-size: 18px;
	font-weight: 600;
}

.divider {
	width: 100%;
	border-top: 3px solid #191919;
}

.notice-contents .divider,
.notice-contents-title .divider {
	border: 0.2px solid rgba(0, 0, 0, 0.1);
	width: 100%;
}

.pageNum {
	cursor: pointer;
	margin: 70px auto;
}

.pageNum > a {
	font-size: 16px;
}