.notice-container {
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.notice-inner {
	width: 100%;
	margin: 100px 0 20px 0;
}

.notice-content {
	width: 100%;
}

.notice-title {
	font-size: 38px;
	font-weight: 800;
	margin-bottom: 1px;
}

.divider {
	width: 100%;
	border: 2px solid #191919;
}

.notices-divider {
	border: 0.2px solid rgba(0, 0, 0, 0.1); 
	width: 100%;
	margin-top: 25px;
}

.notices-title {
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 12px;
	font-weight: 600;
	font-size: 18px;
}

.notices-item {
	display: flex;
	align-items: center;
	margin: 30px auto;
	font-size: 18px
}

.notices-item .content {
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 80px;
	text-align: center;
	line-height: 300%;
	color: #a9a9a9;	
}

.title {
	font-size: 20px;
}

.date {
	font-size: 14px;
	font-weight: 600;
	margin-right: 10px;
	margin-bottom: 2px;
}

.count {
	font-size: 14px;
	font-weight: 600;
	margin-right: 10px;
	margin-left: 75px;
	margin-bottom: 2px;
}

.registrationDate {
	font-size: 14px;
	display: flex;
	margin-left: 10px;
	color: #a9a9a9;	
}

.count-num {
	font-size: 14px;
	display: flex;
	margin-left: 10px;
	color: #a9a9a9;	
}

.notices-date {
	display: flex;
	align-items: center;
}

.pageCount {
	display: flex;
	align-items: center;
}

.notices-content-divider {
	border-left: 1.7px solid #a9a9a9;
	height: 13px;
	width: 0;
}