.notice-container {
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.notice-inner {
	width: 100%;
	margin: 100px 0 20px 0;
}

.notice-inner-text {
	font-size: 38px;
	font-weight: 800;
	margin-bottom: 1px;
}

.divider {
	width: 100%;
	border-top: 3px solid #191919;
}

.notice-content {
	width: 100%;
}

.notice-title {
	margin: 25px 0 12px 0;
	font-weight: 600;
	font-size: 20px;
}

.notice-info {
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
}

.notice-date-text {
	font-size: 14px;
	font-weight: 600;
	margin-right: 10px;
	margin-bottom: 2px;
}

.notice-content-divider {
	border-left: 1.7px solid #a9a9a9;
	height: 13px;
	width: 0;
}

.notice-date {
	font-size: 14px;
	margin-left: 10px;
	color: #a9a9a9;	
}

.notice-hitcount-text {
	font-size: 14px;
	font-weight: 600;
	margin-right: 10px;
	margin-left: 75px;
	margin-bottom: 2px;
}

.notice-hitcount {
	font-size: 14px;
	margin-left: 10px;
	color: #a9a9a9;	
}

.notice-divider {
	border: 0.2px solid rgba(0, 0, 0, 0.1); 
	width: 100%;
	margin-top: 25px;
}

.notice-item {
	display: flex;
	align-items: center;
	margin: 30px auto;
}

.notice-item .content {
	margin: 40px auto;
	text-align: center;
	line-height: 300%;
	color: #676767;	
}

.notice-list-btn {
	width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #191919;
    color: white;
    border: none;
    font-size: 14px;
    text-align: center;
    margin-top: 80px;
}